<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script type="text/javascript" src="resources/js/hello.js"></script>
</meta>
<title>Demo</title>
</head>
<body>

	<h3>Parul's Counter
		<div class="form-group form">
<form action='counted' method="post">
<div>
<label> Enter Number : </label>
<input type="text" id="limit" name="limit" placeholder=" Input Number"
						class="form-control" />
</div>
<button id="submitButton" class="form-control"> Submit </button>
 

</form>
</div>
</div>


</body>
</html>